{% extends 'layout.html' %}

{% block body %} 
    <h1>Care Centers</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group">
            {{ render_field(form.center_name, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.center_address, class_="form-control") }}
        </div>
        <dif class="form-group">
            {{ render_field(form.center_phone, class_="form-control") }}
        </dif>
        <p><input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}
