{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard</h1> 
  <h3><small> Welcome {{session.username}}</small></h3>
  <a class="btn btn-success" href="/add_care_center"> Add Care Center</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Date Entered</th>
      <th></th>
      <th></th>
    </tr>
    {% for info in care_centers %}
      <tr>
        <td>{{info.ID}}</td>
        <td>{{info.name}}</td>
        <td>{{info.address}}</td>
        <td>{{info.phone}}</td>
        <td>{{info.create_date}}</td>
        <td><a href="edit_care_center/{{info.ID}}" class="btn btn-default pull-right">Edit</a></td>
        <td></td>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
